#stockList {
<<<<<<< HEAD
	    margin-bottom: 25px;
    }
    #articleList {
	        margin-top: 25px;
	}
	#navTop {
		    margin-bottom: 25px;
	    }
	    body{
		        background-color: #191919;
		}
		#navTop{
			    background-color: #472A00;
			        color:black;
			}
=======
    margin-bottom: 25px;
}
#articleList {
    margin-top: 25px;
}
#navTop {
    margin-bottom: 25px;
}
>>>>>>> 7ed36fa31ac7e14a2f5945284cac9b744e7d519d
