#stockList {
    margin-bottom: 25px;
}
#articleList {
    margin-top: 25px;
}
#navTop {
    margin-bottom: 25px;
}

/* input validation */
/* input:invalid {
    border: 2px dashed red;
  }
  
  input:valid {
    border: 2px solid black;
  } */